/.idea/inspectionProfiles/Project_Default.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_01_12_2025_15_52_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]2/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]3/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_01_12_2025_14_47_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_01_12_2025_15_52__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_rebase__Changes_1.xml
/.idea/shelf/Uncommitted_changes_before_rebase__Changes_2.xml
/.idea/shelf/Uncommitted_changes_before_rebase__Changes_3.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_01_12_2025_14_47__Changes_.xml
